<!doctype html>

<html lang="en">
    
<!-- BEGIN: Header Area: Source my assignment 1 submission -->
<head>

    <!--SEO-->
    <meta http-equiv="Index" content="text/html; charset=utf-8">
    <meta name="Index" content="Map Index of Dublin Bikes">
    <meta name="keywords" content="Dublin Bikes, Availability, Google Map API">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Disappster">

    <!--Title-->
    <title>Dublin Bike Station View</title>
    
    <!--CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="sched.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<!-- END: Header Area -->


<!--BEGIN: BODY AREA-->
<body>
  <p>Hi there!</p>



      <!-- BEGIN: Page Footer: Source my assignment 1 submission -->
    <footer class="footer">
        <div class="wrapper">
            <p class='footer-font'>Created by <a class='footer-link' href='https://disappster.atlassian.net/wiki/spaces/COMP30830/pages/164009/Team+Member+Contact+List'>Team Disappster</a></p>
            <div class="clear"></div>
        </div>
    </footer>
    <!-- END: Page Footer -->
  
</body>
<!--END: BODY AREA-->



</html>