<!doctype html>

<html lang="en">
    
<!-- BEGIN: Header Area: Source my assignment 1 submission -->
<head>

    <!--SEO-->
    <meta http-equiv="Index" content="text/html; charset=utf-8">
    <meta name="Index" content="Map Index of Dublin Bikes">
    <meta name="keywords" content="Dublin Bikes, Availability, Google Map API">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Disappster">

    <!--Title-->
    <title>Dublin Bike Map View</title>
    
    <!--CSS-->
    <!-- <link rel="stylesheet" type="text/css" href="sched.css"> -->
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<!-- END: Header Area -->


<!--BEGIN: BODY AREA-->
<body>

    <h1>Title</h1>
  <p>
    Hi there. These are the stations:
    <br>
    {{ stationname }}
  </p>

</body>
<!--END: BODY AREA-->

</html>