<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test map</title>
    <link href="{{  url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{  url_for('static', filename='app.js')  }}"></script>

</head>
<body>
<div id="header">
    Choose a station:<select name="stationSelector" id="stationSelector" onchange="filterMarkers(this.value)">
    <option value="showAll">Show All Stations</option>
    {% for station in station_data %}
    <option value="{{ station.name }}">{{ station.name }}</option>
    {% endfor %}
</select>
</div>
<div id="map"></div>
</body>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9btECtY48D3C-qx36Lt0gmUQK9XlYkM0&callback=initMap&libraries=&v=weekly"
        async>

</script>

</html>