<!doctype html>

<html lang="en">

<!-- BEGIN: Head Area: -->
<head>

    <!--SEO-->
    <meta http-equiv="About" content="text/html; charset=utf-8">
    <meta name="About" content="More Info of Dublin Bikes">
    <meta name="keywords" content="Dublin Bikes, Availability, Google Map API, More Info, Author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Disappster">

    <!--Title-->
    <title>Dublin Bike About Page</title>
  
  
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">

</head>
<!-- END: Head Area -->



<!--BEGIN: Body Area-->
<body>

    <!--BEGIN: Header DIV Area-->
    <header id="header">

      <!--BEGIN: Title Area-->
      <div class="wrapper">
      <!--END: Title Area-->

      <!--BEGIN: Links Area-->

          <nav id="navbarheader">
            <a class="HeaderLink" href="/index">Stations</a>
            <a class="HeaderLink" href="/about">About Disappster</a>
          </nav>

      <!--END: Links Area-->


    </header>
    <!--END: Header DIV Area-->

   <!--BEGIN: BODY Area-->
    <div id="mainbody-area">
    <div class='wrapper'>
    <h1>Welcome to our application!</h1>
    <p>Thanks for taking the time to check out Disappster, a state-of-the-art solution for planning your journeys around Dublin City Centre, which integrates the power of Machine Learning Models and hyperparameter tuning to help you choose a sustainable method of exploring 5km of Dublin in these uncertain times!</p>

    <p>Completed as part of the COMP30830 Software Engineering module, this application sees to all of the needs of the modern bike commuter. Meeting requirements such as:</b>

<table>
  <thead>
    <th>Key</th>
    <th>Name</th>
    <th>Description</th>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>JCDecaux Data</td>
    <td>Collects data through JCDecaux API</td>
  </tr>
    <tr>
    <td>2</td>
    <td>Data Managment</td>
    <td>data management/storage in RDS DB on AWS</td>
  </tr>
    <tr>
    <td>3</td>
    <td>A Map</td>
    <td>display bike stations on map</td>
  </tr>
    <tr>
    <td>4</td>
    <td>Flask-based</td>
    <td>flask web application (python)</td>
  </tr>
    <tr>
    <td>5</td>
    <td>Occupancy</td>
    <td>Station Occupancy information</td>
  </tr>
    <tr>
    <td>6</td>
    <td>weather</td>
    <td>Weather information</td>
  </tr>
    <tr>
    <td>7</td>
    <td>Interactivity</td>
    <td>Interactivity (click, API request, handle response)</td>
  </tr>
    <tr>
    <td>8</td>
    <td>Machine Learning Models</td>
    <td>ML model for predicting occupancy based on weather patterns, trained on collected data</td>
  </tr>
    <tr>
    <td>9</td>
    <td>Github source-coded</td>
    <td>Github repo, including source code, logs, commit history, branches, etc</td>
  </tr>
  </tbody>
</table>

<p>this application is hopefully sure to impress with an industrial-level <href='https://disappster.atlassian.net/jira/software/projects/COMP30830/boards/1/roadmap'>Jira</a> and <href='https://disappster.atlassian.net/wiki/spaces/COMP30830/pages/164009/Team+Member+Contact+List'>Confluence</a> board only a click away for even more exploration into Disappster.</p>

<h2>Contact us!</h2>
<p>If there are any questions regarding the application, submission, UI, or there's any feedback, we'd be thrilled to hear it to help us plan Disappster Phase 2! We can be reached at the following addresses:</p>
<table>
  <thead>
    <th>Team Member</th>
    <th>Email</th>
  </thead>
  <tbody>
  <tr>
    <td>Jane Slevin</td>
    <td>jane.slevin (at) ucdconnect.ie</td>
  </tr>
    <tr>
    <td>Finnian Rogers</td>
    <td>finnian.rogers (at) ucdconnect.ie</td>
  </tr>
    <tr>
    <td>Adam Ryan</td>
    <td>adam.ryan (at) ucdconnect.ie</td>
  </tr>
    <tr>
    <td>Karl Roe (product owner)</td>
    <td>karl.roe (at) ucdconnect.ie</td>
  </tr>
  </tbody>
</table>
</div>
    </div>
    <!--END:BODY AREA-->

    <!--BEGIN: Footer Area-->
    <footer id="footer-area">

      <p class='footer-font'>Created by <a class='footer-link' href='https://disappster.atlassian.net/wiki/spaces/COMP30830/pages/164009/Team+Member+Contact+List'>Disappster</a> - COMP30830</p>

    </footer>
    <!--END: Footer Area-->


  <!--BEGIN: GOOGLE ASYNC at END OF DOM ELEMENTS IN BODY-->
   <!--END: GOOGLE ASYNC at END OF DOM ELEMENTS IN BODY-->
  
</body>

</html>