<!doctype html>

<html lang="en">

<!-- BEGIN: Head Area: -->
<head>

    <!--SEO-->
    <meta http-equiv="About" content="text/html; charset=utf-8">
    <meta name="About" content="More Info of Dublin Bikes">
    <meta name="keywords" content="Dublin Bikes, Availability, Google Map API, More Info, Author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Disappster">

    <!--Title-->
    <title>Dublin Bike About Page</title>
  
  
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>
<!-- END: Head Area -->



<!--BEGIN: Body Area-->
<body>

    <!--BEGIN: Header DIV Area-->
    <header id="header">

      <!--BEGIN: Title Area-->
      <div class="wrapper">
      <!--END: Title Area-->

      <!--BEGIN: Links Area-->

          <nav id="navbarheader">
            <a class="HeaderLink" href="/index">Stations</a>
            <a class="HeaderLink" href="/about">About Disappster</a>
          </nav>

      <!--END: Links Area-->


    </header>
    <!--END: Header DIV Area-->

   <!--BEGIN: BODY Area-->
    <div id="mainbody-area">
    </div>
    <!--END:BODY AREA-->

    <!--BEGIN: Footer Area-->
    <footer id="footer-area">

      <p class='footer-font'>Created by <a class='footer-link' href='https://disappster.atlassian.net/wiki/spaces/COMP30830/pages/164009/Team+Member+Contact+List'>Disappster</a> - COMP30830</p>

    </footer>
    <!--END: Footer Area-->


  <!--BEGIN: GOOGLE ASYNC at END OF DOM ELEMENTS IN BODY-->
   <!--END: GOOGLE ASYNC at END OF DOM ELEMENTS IN BODY-->
  
</body>

</html>