<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test map</title>
    <link href="{{  url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{{  url_for('static', filename='app.js')  }}"></script>

</head>
<body>
<div id="header">
<!--    <form action="" method='GET'>-->
<!--    <label for="stationSelector">Choose a station:</label>-->
<!--        <select name="stationSelector" id="stationSelector">-->
<!--      {% for county in counties %}-->
<!--      <option value="{{ county }}">{{ county }}</option>-->
<!--      {% endfor %}-->
<!--     </select>-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->
    <select id="locality-dropdown" name="locality">
</select>
</div>
<div id="map"></div>
</body>



<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9btECtY48D3C-qx36Lt0gmUQK9XlYkM0&callback=initMap&libraries=&v=weekly"
        async>

</script>

</html>