<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test map</title>
    <link href="{{  url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div id="header">INSERT HEADER HERE</div>
<div id="map"></div>
</body>

<script>
    let map;

    function initMap() {
        fetch("/stations").then(response => {
            return response.json();
        }).then(data => {
            console.log("data:", data);

            map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 53.349804, lng: -6.260310},
                zoom: 12,
            });

            data.forEach(station => {
                new google.maps.Marker({
                    position: {lat: station.position_lat, lng: station.position_long},
                    map: map,
                })
            })
        }).catch(err => {
            console.log("Oops!", err);
        })
    }

</script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9btECtY48D3C-qx36Lt0gmUQK9XlYkM0&callback=initMap&libraries=&v=weekly" async>

</script>

</html>