<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test map</title>
    <link href="{{  url_for('static', filename='style.css')  }}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div id="header">INSERT HEADER HERE</div>
<div id="map"></div>
</body>

<script>
    let map;

    function initMap() {
        fetch("/stations").then(response => {
            return response.json();
        }).then(data => {
            console.log("data:", data)
             console.log("in map function")
        // Make the map (centred on dublin)
            map = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 53.349562, lng: -6.278198},
            zoom: 8,
        });
            // Loop through the json array of stations adding markers at each station
            data.forEach(station => {
                console.log("in station loop")
                console.log(station.position_lat)
                console.log(typeof (station.position_lat))
                // Code to add markers in for loop adapted from https://stackoverflow.com/questions/3059044/google-maps-js-api-v3-simple-multiple-marker-example
                new google.maps.Marker({
                    position: {lat: station.position_lat, lng: station.position_lat},
                    map: map,
                });
            });
        }).catch(err => {
            console.log("there's been an error")
        })

    }

</script>

<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9btECtY48D3C-qx36Lt0gmUQK9XlYkM0&callback=initMap&libraries=&v=weekly" async>

</script>

</html>